body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
}
h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="number"] {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.main-div{
  width: 250px;
}

#copy-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#confirmation-message {
  margin-top: 10px;
  display: none;
  font-weight: bold;
  color: #4CAF50;
}
